<footer>
    <nav class="footer-nav">
        <ul>
            <li><a href=""></a>DIGITAL PRODUCT DESIGN</li>
            <li><a href=""></a>REMOTE WORK</li>
            <li><a href=""></a>UX DESIGN</li>
            <li><a href=""></a>DISTRIBUTED TEAMS</li>
            <li><a href=""></a>CREATIVITY</li>
            <li><a href=""></a>STRATEGY</li>
            <li><a href=""></a>SUSPENSE</li>
            <li><a href=""></a>GROWTH</li>
        </ul>
    </nav>
    <img src="/nordic_rose_white_logo.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eius, laborum magnam praesentium sunt officia!
        Distinctio veritatis illum corrupti nisi.</p>
    <div>
        <span>Twitter</span>
        <span>LinkedIn</span>
        <span>RSS</span>
    </div>
    <p> &copy; 2012-2021 Nordic Rose Co.</p>
    <p>All rights reserved.</p>
</footer>
</body>

</html>