<nav class="header-nav">
    <a href="/">
        <img src="/nordic_rose_logo.png" alt="">
    </a>
    <ul>
        <li><a href="/">BLOG</a></li>
        <li><a href="/newarticle">NEW ARTICLE</a></li>
    </ul>
</nav>